# Ignore build outputs
dist/
build/

# Ignore dependency directories
node_modules/

# Ignore logs
*.log
npm-debug.log*

# Ignore IDE files
.vs/
.vscode/

# Ignore Docker files
Dockerfile
docker-compose*
