# Database Settings
ConnectionStrings__DefaultConnection="Server=localhost;Database=InterviewChallengeDB;Trusted_Connection=True;TrustServerCertificate=True;"

# Auth Settings
Auth__Password="your_password_here"

# Gemini Settings
Gemini__ApiKey="your_api_key_here"
